<% if current_admin %>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
	  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% else %>
<div class="content_wrapper">
	<h2>Dieser Bereich ist nur für Admins zulässig.</h2>
	<div class="button_wrapper">
		<%= button_to("Zurück zur Startseite", root_path, method: :get, class: "button button_primary button_login") %>
		<%= button_to("Admin Login", admin_session_path, method: :get, class: "button button_primary button_login") %>
	</div>
</div>
<% end %>
