<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category %>
</p>

<p>
  <strong>Left:</strong>
  <%= @subcategory.left %>
</p>

<p>
  <strong>Right:</strong>
  <%= @subcategory.right %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
