<% if @article.errors.any? %>
  <div class="error_wrapper">
    Article could not be saved for the following <%= "reason".pluralize(@article.errors.count)%>: <br />
    <% @article.errors.full_messages.each do |message| %>
      - <%= message %> <br />
    <% end %>
  </div>
<% end %>
<br />
<h4>Anhänge</h4>
<table class="anhang_table">
	<tr>
		<td>ID</td>
		<td>Name</td>
	</tr>
	<% @anhaenge.each do |anhang| %>
		<tr>
			<td><%= anhang.id %></td>
			<td><%= anhang.name %></td>
		</tr>
	<% end %>
</table>

<%= form_for(@article) do |f| %>    
  <%= f.text_field :name, placeholder: "Titel", class: "input_field" %><br />
  <br />
  <%= f.text_field :resume, placeholder: "Resume", class: "input_field" %><br />
  <br />
  <%= f.text_field :anhaenge, placeholder: "Anhänge (durch Komma ohne Leerzeichen trennen)", class: "input_field" %><br />
  <br />
  <%= f.text_field :hauptanhang, placeholder: "Hauptanhang", class: "input_field" %><br />
  <br />
  <%= f.text_area :content, class: "input_field area_field" %> <br />
  <br />
  <%= button_tag "Zurück zum Blog", :type => 'button', :class => "button button_secondary", :onclick => "location.href = '#{root_path()}'" %>
  <%= f.submit "Artikel senden", class: "button button_primary" %>
<% end %>