<section class="pictures">
  <h2>Alle Bilder</h2>
  <% if @pictures.count == 0 %>
    Du hast noch keine Bilder hochgeladen. <br />
    <br />
  <% end %>
  <%= button_to "Bilder hochladen", pictures_path, method: :get, :class => "button button_primary", form: {target: "_blank"} %>
  
  <div class="img_wrapper">
  <% @pictures.order("created_at desc").take(40).each do |picture| %>
    <div class="img_border">
      <%= picture.id %> <br />
      <%= image_tag picture.image_url, class: 'thumb' %> <br />
    </div>
  <% end %>
  </div>
</section>    