<section class="article_form">
  <div class="content_wrapper">
    <h2>Artikel bearbeiten</h2>
    <%= render 'form'%>
  </div>
  <% if false %>
  <div class="content_wrapper">
    <%= render 'pictures'%>
  </div>
  <% end %>
</section>
