<% if current_admin %>
  <%= render 'layouts/admin'%>
<% end %>
<% if current_nutzer %>
	<div class="button_wrapper">
	<%= button_to("Logout", destroy_nutzer_session_path, method: :delete, class: "button button_primary logout_button") %>
	</div>
	<br />
<% else %>
	<section id="header">
	  <div class="content_wrapper">
	    <h2>Tobias Grunwald</h2>
	    <%= image_tag('me', id: 'img_me') %>
	    <p>Sehr geehrte Damen und Herren,</p>
	    <p>ich habe mit der Entwickung dieses Internetauftritts bereits während meinem Auslandsaufenthalt in Australien begonnen. Mir war bereits zu dieser Zeit bewusst, dass ich mich, nach meiner Rückkehr nach Deutschland, stärker im Bereich Webdevelopment betätigen möchte. Die Entwicklung diente dementsprechend einerseits zur Verbesserung meiner Kenntnisse, hat jedoch andererseits auch den praktischen Nutzen, Ihnen nun meine Bewerbungsunterlagen und gleichzeitig einen Einblick in meine Arbeit zu übermitteln. </p>
	    <p>Bitte melden Sie sich mit den Ihnen übermittelten Anmeldedaten an, um diese einzusehen:</p>
	    <div class="button_wrapper">
	      <%= button_to("Zum Login", nutzer_session_path, method: :get, class: "button button_primary button_login") %>
	    </div>
	    
	  </div>
	</section>
<% end %>
<% if current_nutzer || current_admin %>
	<section id="articles">
	  <% @articles.order("created_at desc").each do |article| %>
	    <div class="content_wrapper">
	      <h2> Bewerbungsunterlagen </h2> <br />
	      <% if current_admin %>
	      <h4><%= article.name %></h4>
	      
	        <div class="button_wrapper content_menu_wrapper">
	          <%= button_to "Bearbeiten", edit_article_path(article), method: :get, class:"button button_edit" %>
	          <%= button_to "Löschen", article_path(article), data: {confirm: 'Sicher, dass du diesen Artikel löschen möchtest?'}, method: :delete, class:"button button_delete" %>

	        </div>
	        
	      <% end %>
	      <div class="button_wrapper content_menu_wrapper">
	      	<div id="resume_button" class="button button_secondary">Lebenslauf</div>
	      	<p></p>
	      	<div id="motivation_button" class="button button_primary">Anschreiben</div>
	      	<p></p>
	      	<div id="attachment_button" class="button button_primary">Anhang</div>
          </div>
          <br>
          <div id="bewerbung">
		      <div id="motivation_div">
		      	<h3>Anschreiben</h3>
		      	<%= sanitize article.content %>
	      	  </div>
	 	      
	 	      <div id="resume_div">
	 	      	<h3>Lebenslauf</h3>
	 	      	<% @resume = Resume.find(article.resume) %>
	 	      	<%= render "resumes/show" %>
	 	      </div>
	 	      
	 	      <div id="attachment_div">
	 	      	<h3>Anhang</h3>
	 	      	Hier finden Sie den Anhang zu meiner Bewerbung:<br />
	 	      	<% @attachments = article.anhaenge.split(",") %>
	 	      	<ul>
		 	      	<% @attachments.each do |attachment| %>
		 	      		<li><%= link_to Attachment.find(attachment).name, Attachment.find(attachment).link, target: :_blank  %> </li><br />
		 	      	<% end %>
	 	      	</ul>
	 	      	<br \>
	 	      	<% if article.hauptanhang %>
	 	      	Zudem finden Sie hier die gesamte Bewerbung, klassisch als PDF-Datei, für Ihre Unterlagen zusammengefasst:<br />
	 	      	<ul><li><%= link_to Attachment.find(article.hauptanhang).name, Attachment.find(article.hauptanhang).link, target: :_blank  %> </li></ul><br />
	 	      	<% end %>
	 	      </div>
 	        </div>
	    </div>
	  <% end %>
	</section>
<% end %>
