<section id="login">
  <div class="login_wrapper">
    <h2>Login</h2>
    <p>Bitte melden Sie sich hier <br /> mit Ihren Anmeldedaten an:</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field field_wrapper">
        <%= image_tag('icons/user', alt: "Username:", id:'user_icon', class: 'icon input_icon')%>
        <%= f.email_field :email, autofocus: true, class: "input_field username_field" %>
      </div>
      <br />
      <div class="field field_wrapper">
        <%= image_tag('icons/password', alt: "Password:", id:'password_icon', class: 'icon input_icon')%>
        <%= f.password_field :password, autocomplete: "off", class: "input_field password_field" %>
      </div>
      <br />
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <br />
      <div class="actions">
        <%= f.submit "Log in", class: "button button_primary" %>
      </div>
    <% end %>
  </div>
</section>