<% if @picture.errors.any? %>
  <div class="error_wrapper">
    Article could not be saved for the following <%= "reason".pluralize(@picture.errors.count)%>: <br />
    <% @picture.errors.full_messages.each do |message| %>
      - <%= message %> <br />
    <% end %>
  </div>
<% end %>

<%= form_for(@picture, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
    
  <%= f.file_field :image %> 
  <%= f.submit "Bild hochladen", class: "button button_primary" %>
  
<% end %>
