<section class="pictures">
  <div class="content_wrapper">
    <h2>Bild hochladen</h2>
    <%= render 'form' %>
  </div>
  <div class="content_wrapper">
    <h2>Alle Bilder</h2>
    <% if @pictures.count == 0 %>
      Du hast noch keine Bilder hochgeladen. <br />
      <br />
    <% end %>
    <%= button_tag "Zurück zum Blog", :type => 'button', :class => "button button_secondary", :onclick => "location.href = '#{root_path()}'" %>
    <div class="img_wrapper">
      <% @pictures.order("created_at desc").each do |picture| %>
        <div class="img_border">
          <%= picture.id %> <br />
          
          <%= link_to image_tag('icons/x.png', class: "delete-x"), picture_path(picture), data: {confirm: 'Sicher, dass du dieses Bild löschen möchtest?'}, method: :delete  %>
        </div>
      <% end %>
    </div>
  </div>
</section>