// - - - - - Variables - - - - - //
$skyblue: #AAAAAA;
$printblue: #333333;
$backgroundbrown: #DDDDDD;
// - - - - - Global Styling - - - - - //
h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h2{
    font-size: 250%;
    margin-bottom: .7rem;
    font-family: 'Poppins', sans-serif;
    line-height: 100%;
  }
  
body{
  background-color: $backgroundbrown;
  color: $printblue;
  font-family: 'Lora', Georgia, serif;
  font-size: 115%;
}

a{
  color: #001155;
}

#main_wrapper{
  width: 90%;
  margin: 0 auto;
}

.error_wrapper{
  color: $skyblue;
  background-color: $printblue;
}

img{
  border: .25rem solid $printblue;
}

.icon{
  border: none;
}

.input_field{
  &:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset; //background-color
    -webkit-text-fill-color: $printblue !important; //Textfarbe
  }
  border: none;
  text-align: center;
  padding: .25rem ;
}
.button_wrapper{
  text-align: center;
  width: 25%;
  margin: 0 auto;
  .button{
    width: 100%;
  }
}
.content_menu_wrapper{
  width: 30%;
  font-family: sans-serif;
  margin: 0 auto 1rem auto;
  p{
    margin: .2rem;
  }
  .button{
    margin: 5rem;
  }
}
.button{
  font-size: 12px;
  margin-bottom: .2rem;
  border-radius: .5rem;
  padding: .3rem .7rem;
  border: 1px solid black;
  text-decoration: none;
}

.button_primary{
  background-color: $printblue;
  color: $skyblue;
}

.button_secondary{
  background-color: $skyblue;
  color: $printblue;
  font-family: Arial;  
}

.content_wrapper{
  padding: 0 5rem;
  text-align: left;
  background-color: $skyblue;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
  border: 2px solid $printblue;
  margin-bottom: 1rem;
  img{
    width: 35%;
  }
  table{
    
  }
}

.resume_wrapper{
  autoHeight: false;
  text-align: left;
  padding: 0 5rem;
  h1, h2, h3, h4{
    text-align: left;
  }
  table{
    width: 90%;
    td{
      vertical-align: top;
      padding-bottom: 1.3rem;
      p{
        margin: 0;
      }
    }
    .resume_left{
      width: 35%;
    }
    .resume_right{
      width: 75%;
    }
  }
}
.flashes{
  text-align: center;
}

.alert{
  display: inline-block;
  background-color: $skyblue;
  margin: 0 auto 1rem auto;
  text-align: center;
  border-radius: .35rem;
  padding: .3rem .7rem;
}

.alert-alert{
  color: red;
}

.alert-notice{
  color: green;
}

// - - - - - Header Styling - - - - - //
#header{
  .content_wrapper{
    text-align: center; 
  }
  #img_me{
    width: 15%;
  }  
}

// - - - - - Login Styling - - - - - //
#login{
  text-align: center;
  .login_wrapper{
    background-color: $skyblue;
    display: inline-block;
    margin-top: 7rem;
    padding: 0 5rem 3rem 5rem;
    border: 2px solid $printblue;
    border-radius: 1rem;
    .field_wrapper{
      border: 1px solid $printblue;
    }
    .input_icon, .input_field{
      height: 100%;
      vertical-align: middle;
      &:focus{
        outline: none;
      }
    }
    .input_field{
      width: 14rem;
    }
  }
}

// - - - - - Admin Styling - - - - - //
#admin{
  .admin_wrapper{
    text-align: center;
    border-top: 1px solid $printblue;
    border-bottom: 1px solid $printblue;
    padding: 1.5rem;
    margin-bottom: 2rem;
    .button_wrapper{
      width: 25%;
      margin: 0 auto;
      .button{
        width: 100%;
      }
      .logout_button{
        margin-top: 1rem;
      }
    }
  }
}

// - - - - - Article Styling - - - - - //
#articles{
  .button_to{
    display: inline-block;
  }
  .button{
    margin: 0 .2rem;
  }
  .button_edit{
    background-color: orange;
  }
  .button_delete{
    background-color: red;
  }
  #resume_div{
    display: inline;
    ul{
      margin: 0.2rem;
    }
  }
  #motivation_div, #attachment_div{
    display: none;
  }
  #attachment_div{
    li{
      display: inline-block;
      margin: .2rem;
    }
  }
  #motivation_div{
    text-align: left;
  }
  #motivation_button, #resume_button, #attachment_button{
    //display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
  }
  
}

.article_form{
  margin-top: 2rem;
  .input_field{
    width: 80%
  }
  .area_field{
    text-align: left;
    height: 200px;
  }
  .button_secondary{
    margin-right: .5rem;
  }
}

.anhang_table{
  display: inline-block;
  text-align: center;
  td{
    border: 1px solid black;
  }
}

#bewerbung{
  h3, h4{
    text-decoration: underline;
  }
  h3{
    font-size: 130%;
  }
}

// - - - - - Picture Styling - - - - - //
.pictures{
  .img_wrapper{
    margin-top: 1.5rem;
  }
  .img_border{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid $printblue;
    margin-bottom: .5rem;
  }
  .thumb{
      border: none;
      width: 50px;
      vertical-align: top;
      
  }
  form{
    margin-top: 1rem;
  }
  .delete-x{
    border: none;
    width: 10px;
    height: 10px;
    margin-top: 10px;
  }
}