<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @category.resume.id %>
</p>

<table>
	<tr>
		<td>left</td>
		<td>right</td>
	</tr>
<% @category.subcategories.each do |sub| %>
	<tr>
		<td><%= sub.left %></td>
		<td><%= simple_format(sub.right) %> </td>
	</tr>
<% end %>
</table>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
