<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#accordion" ).accordion({ heightStyle: "content" });
  } );
</script>

<div class="resume_wrapper">
	<div id="accordion">
	    <% @resume.categories.each do |cat| %>
			<h4><%= cat.name %></h4>
			<div>
				<table class="resume_table">
				<% cat.subcategories.each do |sub| %>
				
					<tr>
						<td class="resume_left"><%= sub.left %>:</td>
						<td class="resume_right"><%= simple_format(sub.right) %></td>
					</tr>
				
				<% end %>
				</table>
			</div>
		<% end %>
	</div>
</div>
