<section id="admin">
  <div class="admin_wrapper">
    <h2>Adminbereich</h2>
    <div class="button_wrapper">
      <%= button_to("Neuer Artikel", new_article_path, class: "button button_primary", method: :get ) %>
      <%= button_to("Neuer Nutzer", new_nutzer_registration_path, class: "button button_primary", method: :get) %>
      <%= button_to("Bilder hochladen", pictures_path, class: "button button_primary", method: :get) %>
      <%= button_to("Logout", destroy_admin_session_path, method: :delete, class: "button button_primary logout_button") %>
    </div>
  </div>
</section>