<!DOCTYPE html>
<html>
<head>
  <title>Tobias Grunwald</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhai">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flashes">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <div id="main_wrapper">
    <%= yield %>
  </div>
</body>
</html>
